main {
    background-color: whitesmoke;
    color: darkblue;
    font-family: Poppins, san-serif;
    font-size: 18px;
}
.cars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin-bottom: 60px;
}

li > a {
    color: tomato;
}
 .avatar {
width: 30px;
height: 30px;
border-radius: 50%;
}
h1 {
     font-size: 32px;
     margin-bottom: 0px;
 }
  
.cats {
font-size: 24px;
margin-top: 0px;
 }

 .page {
     font-size: 20px;
     color: #e7131a;
     margin: 0px;
  }

#inline {
display: inline; 
font-size: 11px;
font-weight: 600; 
margin: 5px;
}